.hback {
    background-color: white;
    margin-top: 10px;
    border-top: #f1ecec;
}
.row{
	margin-top: -20px;
}
.navbar {
    border-radius: 5px;
    border-color: darkgray;
}
h3 {
    margin-top: 28px;
}
img {
    vertical-align: middle;
    margin-top: 14px;
    margin-bottom: 14px;
}


